body{
	color: #222222;
	background-color: #f2f2f2;
}
.row{
	margin-top: 10px;
}
span{
	font-weight:bold;
}
.center{
	text-align: center;
	background-color: #a8a800;
}
.skills{
	background-color: #a8a800;
	border: 1px solid #f2f2f2;
}
.last-row{
	margin-bottom: 10px;
}